<div class="container">
    <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class='jumbotron'>
                    <h3 class="text-center"> KALESI - PYTHON WORKSPACE</h3>
                </div>
            </div>
            <div class="col-lg-2"></div>
    </div>
    <div class="row"> 
        <div class=" col-lg-3"></div>
        <div class=" col-lg-6 alert alert-success"role="alert">
            <div class="card">
                <img src="#" class="card-img-top rounded-lg" alt="kalesi">
                <div class="card-body">
                    <h4 class="card-title">Welcome</h4><span class="jumbotron-fluid">{{user.name}}</span>
                    <p class="card-title">we hope your are felling good with us keep code and get earned with key skills <br>you have <span class="badge badge-pill badge-warning">3 </span>file on board</p>
                     <a href="#" class="card-link btn btn-light">Go to cloud storage</a>
            
                 </div>
             </div>
        </div>
        <div class=" col-lg-3"></div>
    </div>
</div>