#top_panel
{
    margin-left: 32px;
    margin-top:10px;
    margin-right:32px;
    padding: 20px 20px;
}
#notoggle
{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}